# deps
node_modules/
.pnp.*

# build
.next/
out/
dist/
build/
.turbo/

# env
.env
.env.local
.env.*.local
.env.supabase

# logs
*.log
npm-debug.log*

# test / coverage
coverage/
playwright-report/
test-results/

# supabase local
supabase/.branches/
supabase/.temp/

# os / editor
.DS_Store
Thumbs.db
*.tsbuildinfo
